@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: 'Be Vietnam Pro', sans-serif;

}

.icon{
    width: 25px;
    color: green
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;

    &:button{
        padding: 10px;
    }
}

.first_card{
    display: flex;
    padding: 20px 0;
}

form input{
    width: 400px;
    border: 1px solid #ccc;
    height: 35px;
    appearance: none;
    outline: none;
    padding: 5px;
    padding-left: 10px;
}

#delivery_address_set{
    color:orange;
    font-size: 20px;
}

.category{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    opacity: .1;
}

.category_card{
    width: 150px;
    object-fit: cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  margin:5px
}

.category_hover:hover{
    border: 1px solid green;
}

.category_card img{
    width: 50%;
}

.category_card h3{
    color: orange;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 14px;
}

.category_card p{
    font-size: 11px;
}

aside{
    flex:.2
}

.delivery{
    flex:.6
}

.second_card{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.how_it_works{
    display: flex;
    margin-top: 30px;
    
}